.App .keyboard {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.App .keyboard button {
  width: 19%;
  height: 24%;
}

.App .numScreen {
  width: 120px;
  height: 24px;
  border-radius: 4px;
  padding: 4px;
  background-color: hsl(178, 73%, 89%);
  text-align: right;
}